:root {
  --primary-color: #008800;
  --secondary-color: #c20404;
  --blink-speed: 0.15s;
}

body {
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ccc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}